parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method .*\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null#'
        - '#function odbc_.* expects string, null given.#' # null is allowed
        - '#function odbc_binmode expects int, resource given.#'
